{% extends '::base.html.twig' %}

{% block body %}

<div class="sidebar blog-sidebar">
    <div class="sidebar-item  recent">
        <h3>Seus Livros</h3>
        <div class="media">
            <div class="pull-left">
                <a href="{{ path('read_acervo_findone', {'id': acervo.id}) }}"><img src="{{ asset('assets/vendor/images/portfolio/project1.jpg') }}" alt="aff"></a>
            </div>
            <div class="media-body">
                <h4><a href="#">Arm</a></h4>
                <p>posted on  07 March 2014</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}